<div>
    <nav class="navbar navbar-static-top umovie-font" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#/home" class="navbar-brand"><img src="/img/logo.png" height="30px"></a>
                <button type="button" class="navbar-toggle collapsed pull-right"
                        data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse nav navbar-collapse" id="navbar-collapse-1" ng-controller="user-menu-controller">

                <ul class="nav navbar-nav">
                    <!-- NAV here -->
                </ul>
                <div class="navbar-text pull-right">
                    <ngcart-summary></ngcart-summary>
                </div>
                <div class="navbar-text pull-right" ng-show="user && user != {}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">{{user.email}}<span class="caret"></span></a>
                    <img id="avatar" gravatar-src="'{{user.email}}'" gravatar-size="45">

                    <ul class="dropdown-menu pull-right">
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="navbar-text pull-right" ng-hide="user && user != {}">
                    <a ng-click="login()">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>
