<table class="table calllogtable">
    <tr>
        <td><h3>All Telephony Call Logs</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Date</td>
        <td>Destination</td>
        <td>Duration (seconds)</td>
        <td>Action</td>
    </tr>
    <tr ng-repeat="callLog in callLogs">
        <td>{{callLog.date}}</td>
        <td>{{callLog.telephoneNumber}}</td>
        <td>{{callLog.durationInSeconds}}</td>
        <td>
            <a class="btn btn-danger" ng-click="deleteCallLog({id:callLog.id})">Delete</a>
        </td>
    </tr>
</table>