/* app css stylesheet */

.main {
    background-color: #353942;
}

body{
    color: #e7eaeb;
}

.title {
    color: #ffffff;
}

.ajax-loading {
    margin-left: 35%;
    margin-right: 35%;

    width: 30%;
}
.ajax-loading.ng-enter, .ajax-loading.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.ajax-loading.ng-enter,
.ajax-loading.ng-leave.ng-leave-active {
    opacity:0;
}

.ajax-loading.ng-leave,
.ajax-loading.ng-enter.ng-enter-active {
    opacity:1;
}
.ajax-loading .img {
    image-resolution: 300dppx;
}

button.btn, .btn{
    background-color: #337ab7;
    border-radius: 5px;
}
.btn:hover, .btn:active, .btn:focus{
    background-color: #337ab7;
}
label{
    color: #e7eaeb;
}
input{
    padding-left: 5px;
}
.noMovie {
    color: darkred;
    margin-bottom: 20px;
}
.error-message{
    text-align: center;
}
.lost-cat-image{
    width: 50%;
}
.results-container{
    padding: 15px;
    background-color: #2a2d34;
    color: #e7eaeb;
    margin-bottom: 20px;
}
.table-hover>tbody>tr:hover {
    background-color: #353942;
}
table>tbody>tr.result{
    cursor: pointer;
}
table>tbody>tr.table-header{
    border-bottom: 1px solid #e7eaeb;
    margin-bottom: 5px;
}
.welcome-message{
    text-align: center;
}
.form-actions{
    border-top: 1px solid #e7eaeb;
    padding-top: 10px;
}
.modal-content{
    background-color: #353942;
}