.top-buffer{
    margin-top:10px;
}

.contacttable tr td:nth-child(2){
    width: 150px;
}

.contacttable tr:nth-child(1) td{
    border-top: none;
}
.calllogtable tr td:nth-child(2){
    width: 150px;
}

.calllogtable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}