<table class="table contacttable">
    <tr>
        <td><h3>Details for {{contact.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{contact.name}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{contact.address}}</td>
    </tr>
    <tr>
        <td>Telephone Number</td>
        <td>{{contact.telephoneNumber}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editContact({id:contact.id})">Edit</a>
    <a class="btn btn-danger" ng-click="deleteContact({id:contact.id})">Delete</a>
</div>